body {
    margin: 0 auto;
    background-image: url(../photos/bg.jpg);
}

#main {
    min-height: 100px;
    width: 80%;
    margin: 0 auto;
    background-color: grey;

}

header {
    background-color: black;
    width: 100% - 20px;
    height: 40px;
    font-size: 40px;
    padding: 20px;
    text-align: center;
    color: white;
}

#login{
    width: 15%;
    background-color: white;
    height: 40px;
    margin-top:-60px;
    text-align: center;
    margin-left: 30px;
}
#login:hover{
    background-color: grey;
}

#logout{
    width: 15%;
    background-color: white;
    height: 20px;
    margin-top:-60px;
    text-align: center;
    margin-left: 30px;
}

#logout:hover{
    background-color: grey;
}

#signup{
    width: 15%;
    background-color: grey;
    height: 20px;
    margin-top:2px;
    text-align: center;
    margin-left: 30px;
}

#signup:hover{
    background-color: grey;
}

#text{
    margin-top: 50px;
    margin-left: 30px;
    font-size: 20px;
    text-align: center;
}

#klub{
    margin-top: 60px;
    margin-left: 50px;
    font-size: 20px;
}
#pilkarz{
    margin-left: 60%;
    margin-top: -185px;
    font-size: 20px;
}

td{
    border: 1px solid black;
    width: 200px;
}

footer{
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    vertical-align: bottom;
}
