<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">

    <title>
        Dodaj Piłkarza
    </title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'league/styl.css' %}">
</head>
<body>
<div id="main">

    <header>
        Dodaj Piłkarza
        <hr style="border: 0px; background: white; height: 1px; margin-top:5px;">
    </header>

    {% block content %}
    {% if user.is_authenticated %}
    <section id="login">
        Hi {{ user.username }}!<br>
        <a href="{% url 'logout' %}">Wyloguj się</a>
    </section>
    {% else %}
    <section id="logout">
        <a href="{% url 'login' %}">Zaloguj się</a><br>
    </section>
    <section id="signup">
        <a href="{% url 'signup' %}">Stwórz konto</a>
    </section>
    {% endif %}
    {% endblock %}
    <section id="text">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Dodaj">
        </form>
    </section>
    <footer>
        <p style="text-align: right">
            <button onclick="history.go(-2)">Wróć</button>
        </p>
    </footer>

</div>
</body>
</html>