<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">

    <title>
        Mecze
    </title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'league/styl.css' %}">
</head>
<body>
<div id="main">

    <header>
        Mecze
        <hr style="border: 0px; background: white; height: 1px; margin-top:5px;">
    </header>

    {% block content %}
    {% if user.is_authenticated %}
    <section id="login">
        Hi {{ user.username }}!<br>
        <a href="{% url 'logout' %}">Wyloguj się</a>
    </section>
    {% else %}
    <section id="logout">
        <a href="{% url 'login' %}">Zaloguj się</a><br>
    </section>
    <section id="signup">
        <a href="{% url 'signup' %}">Stwórz konto</a>
    </section>
    {% endif %}
    {% endblock %}
    <section id="text">
        <table style="width: 600px; margin-left: auto; margin-right: auto; border: 1px solid black;">
            <tr>
                <td><b>Gospodarz</b></td>
                <td><b>Gość</b></td>
                <td><b>Wynik</b></td>
                <td></td>
            </tr>
            {% for i in mecze %}
            <tr>
                <td>{{i.gospodarz}}</td>
                <td>{{i.gosc}}</td>
                <td>{{i.wynik}}</td>
                <td><b><a href="/league/liga/mecz/{{ i.id }}/">Szczegóły</a></b></td>
            </tr>
            {% endfor %}
            </tr>
        </table>
    </section>
    <footer>
        <p style="text-align: right">
            <button onclick="history.go(-1)">Wróć</button>
        </p>
    </footer>

</div>
</body>
</html>