<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">

    <title>
        {{mecz.gospodarz}} vs {{mecz.gosc}}
    </title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'league/styl.css' %}">
</head>
<body>
<div id="main">

    <header>
        {{mecz.gospodarz}} vs {{mecz.gosc}}
        <hr style="border: 0px; background: white; height: 1px; margin-top:5px;">
    </header>

    {% block content %}
    {% if user.is_authenticated %}
    <section id="login">
        Hi {{ user.username }}!<br>
        <a href="{% url 'logout' %}">Wyloguj się</a>
    </section>
    {% else %}
    <section id="logout">
        <a href="{% url 'login' %}">Zaloguj się</a><br>
    </section>
    <section id="signup">
        <a href="{% url 'signup' %}">Stwórz konto</a>
    </section>
    {% endif %}
    {% endblock %}
    <section id="text">
        <li>Gospodarz: <b>{{mecz.gospodarz}}</b></li>
        <li>Gość: <b>{{mecz.gosc}}</b></li>
        <li>Wynik: <b>{{mecz.wynik}}</b></li>
        <li>Sedzia: <b>{{mecz.sedzia}}</b></li>
        <li>Godzina rozpoczęcia: <b>{{mecz.godzina_rozpoczecia}}</b></li>
        <li>Stadion:
            {% for i in stadion %}
            {% if i.klub == mecz.gospodarz %}
            <b>{{i.nazwa}}</b>
            {% endif %}
            {% endfor %}
        </li>
    </section>
    <footer>
        <p style="text-align: right">
            <button onclick="history.go(-1)">Wróć</button>
        </p>
    </footer>
</div>
</body>
</html>